<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de Produtos</title>
</head>
<body>
    <a href="/home">Cadastro de Produtos</a>
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Produto</th>
                <th>Valor</th>
                <th>Peso</th>
                <th>Quantidade em Estoque</th>
                <th>Excluir</th>
                <th>Editar</th>
            </tr>
        </thead>
        <tbody>
            <tr data-th-each="produto: ${Produtos}">
                <td data-th-text="${produto.id}"></td>
                <td data-th-text="${produto.nomeProduto}"></td>
                <td data-th-text="${produto.valor}"></td>
                <td data-th-text="${produto.peso}"></td>
                <td data-th-text="${produto.qtdEstoque}"></td>
                <td><a th:href="@{'/excluir/'+${produto.id}}">Excluir</td>
                <td><a th:href="@{'/home/editar/'+${produto.id}}">Editar</td>
            </tr>
        </tbody>
    </table>
    
</body>
</html>